* {
  padding: 0;
  margin: 0;
  border-radius: 10px;
}
body {
  font-size: 16px; /* Set a base font size */
  font-size: 14px; /* Adjust font size for smaller screens */
  background: whitesmoke;
  background-size: cover;
  align-items: center;
  justify-content:center;
  display: flex;
  width: 100%;
  
}
.container {
  position: relative;
  margin-top: 100px;
  width: 450px;
  height: auto;
  background: white;
  border-radius: 20px;
}
.label {
  padding: 10px 35px;
  font-size: 30px;
  font-weight: bold;
  color: #130f40;
  text-wrap: balance;

}
.bottom {
    padding: 10px 35px;
    font-size: 15px;
    font-weight: bold;
    color: red;
    text-wrap: balance;
    text-align: left;
}
.addmission  {
    font-size: 15px;
    font-weight: bold;
    color: red;
    text-wrap: balance;
    text-align: center;
}
.red {
    color:black;  
    font-size: 15px;
    font-weight: bold;
    text-wrap: balance;
    text-wrap: balance;
}
.login_form {
  padding: 10px 40px;
}
.login_form .font {
  font-size: 18px;
  color: #130f40;
  margin: 5px 0;
}
.login_form input {
  height: 40px;
  width: 350px;
  padding: 0 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid silver;
}
.login_form .font2 {
  margin-top: 30px;
}
.login_form button {
  margin: 45px 0 30px 0;
  height: 45px;
  width: 365px;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}
.login_form button:hover {
  background: #1c1c1c;
}
.login_form #email_error,
.login_form #pass_error {
  margin-top: 5px;
  width: 345px;
  font-size: 18px;
  color: #c62828;
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
  display: none;
}
@media (mid-width: 500px) {
    
}
